*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gotham;
    list-style: none;
    text-decoration: none;
    color: inherit;
}
:root{
    --height-MAIN_HEADER: 25vh;
    --default-horizontal-SPACING: 2.4vw;
    --minimum-horizontal-SPACING: .8vw;
    --default-vertical-SPACING: 3vh;
    --max-vertical-SPACING: 5vh;
    --minimum-vertical-SPACING: 1vh;
    --color-BG: black;
    --color-MAIN: #FFC309;
    --color-SECOND: #FF6C2F;
    --color-COMPLEMENTAR_1: #b78c30;
    --color-COMPLEMENTAR_2: #faedbc;
}
body{
    background-color: rgb(0, 0, 0);
    color: white;
}
html{
    scroll-behavior: smooth;
}
:target{
    scroll-margin-top: var(--height-MAIN_HEADER);
}

.bg_main, #secondary_section, #height_light{
    height: 90vh;
}
#secondary_section, #height_light{
    background: rgb(236, 238, 245);
}
#logo{
    width: 50px;
    height: auto;
}
#logo img{
    width: 100%;
    height: auto;
}
#main_nav{
    width: 100%;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    width: 100%;
    flex-wrap: wrap;
}
.menu button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-MAIN);
    width: 150px;
    border: 15px solid;
    border-image: url(../assets/images/Ativo\ 35PARA\ NEGOCIOS.png) 20 round;
    border-radius: 4px;
    text-transform: uppercase;
    overflow: hidden;
    background-color: transparent;
}

.menu button svg{
    position: relative;
    right: -50px;
}
.menu button svg path{
    stroke: var(--color-SECOND);
}
.menu .menu_item a {
    text-decoration: none;
    color: white;
    font-size: .7em;
    padding: 1rem;
    transform: 2ms ease-in;
    position: relative;
}
.menu button:hover{
    font-weight:lighter;
    color: white;
    background-color: var(--color-SECOND);
    transform: scale(1.1);
    animation: none;
}
.menu .menu_item a::before{
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 0px;
    height: 1px;
    background: rgb(207,171,23);
    background: linear-gradient(90deg, rgba(207,171,23,1) 0%, rgba(111,70,4,1) 15%, rgba(190,146,23,1) 33%, rgba(255,239,132,1) 50%, rgba(190,146,23,1) 68%, rgba(111,70,4,1) 85%, rgba(207,171,23,1) 100%);
    transition: all 500ms ease; 
}
.menu .menu_item:nth-child(4) a::before{
    left: 0;
}
.menu .menu_item a:hover:before {
    font-size: 1em;
    width: 100%;
}

#main_header
{
    /* position: fixed; */
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-between;
    width: 1366px;
    height: var(--height-MAIN_HEADER);
    display: flex;
}

.container{
    margin: 0 auto;
    width: 1366px;
}
.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
    width: 60vw;
    height: auto;
    padding: 2rem;
    border: 1px var(--color-COMPLEMENTAR_1);
}
.bg_main{
    width: 100%;
    row-gap: 10%;
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    background-position:center;
    background-repeat: no-repeat;
    justify-content: space-between;
    background: linear-gradient(335deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8) 50%),url(../assets/images/Edu\ palestrando\ no\ WTW.png);
    background-size:cover;
}



.icon{
    width: 100%;
    height: auto;
}
.icon img{
    width: 100%;
    height: auto;
}
.info .content p{
    font-size: 1.1em;
    font-weight: lighter;
    margin-top: 1rem;
    line-height: 32px;
    font-family: gotham-light;
}
.nex_section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
}

.nex_section svg{
    width: auto;
    height: 80%;
    padding: 1rem;
    animation: sugest 2s infinite;
}
.nex_section svg path{
    stroke: var(--color-MAIN);
    stroke-width: 1px;
}

@keyframes sugest {
    0%{
        opacity: 1;
        transform: translatey(0px);
    }
    50%{
        transform: translateY(10px);
    }
    
    100%{
        opacity: 0;
        transform: translatey(0px);
    }
}
#secondary_section,#height_light{
    background: rgb(236, 238, 245);
    background-image: url('../assets/images/icon_BW.svg');
    background-blend-mode: overlay;
    background-position:left;
    background-repeat:no-repeat;
    background-size: 60%;
    overflow: hidden;
}
#secondary_section{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    padding: 0 5rem;
    color: black;
    
}
#secondary_section .info{
    display: flex;
    width: 40vw;
    height: auto;
}
#secondary_section .info .content ul::after{
    content: '';
    width: 100%;
    height: 2px;
    background: rgb(207,171,23);
    background: linear-gradient(90deg, rgba(207,171,23,1) 0%, rgba(111,70,4,1) 15%, rgba(190,146,23,1) 33%, rgba(255,239,132,1) 50%, rgba(190,146,23,1) 68%, rgba(111,70,4,1) 85%, rgba(207,171,23,1) 100%);
}
#secondary_section .content span{
    font-size: 2em;
    text-transform: uppercase;
    color: var(--color-MAIN);
}
#secondary_section .content ul{
    display: flex;
    flex-direction: column;
    justify-content: left;
    row-gap: 5px;
    text-transform: uppercase;
}
#secondary_section .content li{
    color: var(--color-COMPLEMENTAR_1);
}
#height_light{
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: right;
}
#height_light .content{
    display: flex;
    align-items: centers;
    justify-content: center;
    column-gap: 20px;
    width: auto;
}
.content .heightlight{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    padding: .5rem;
    width: 300px;
    height: auto;
    background-color:#b78c30;
    
}
.info .content h1{
    font-family: 'Roboto';
    font-size: 64px;
    font-weight:bold;
    text-transform: capitalize;
    color: var(--color-COMPLEMENTAR_1);
}
.photo{
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    mix-blend-mode: hard-light;
    overflow: hidden;
    filter: grayscale(1);
    transition: all 1s linear;
}
.photo:hover{
    filter: grayscale(0);
}
.photo img{
    width: 100%;
    height: auto;
}
