*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gotham;
    list-style: none;
    text-decoration: none;
    color: inherit;
}
:root{
    --height-MAIN_HEADER: 20vh;
    --default-horizontal-SPACING: 2.4vw;
    --minimum-horizontal-SPACING: .8vw;
    --default-vertical-SPACING: 3vh;
    --max-vertical-SPACING: 5vh;
    --minimum-vertical-SPACING: 1vh;
    --color-BG: black;
    --color-MAIN: #FFC309;
    --color-SECOND: #FF6C2F;
    --color-COMPLEMENTAR_1: #b78c30;
    --color-COMPLEMENTAR_2: #faedbc;
}
body{
    background-color: rgb(0, 0, 0);
    color: white;
}
html{
    scroll-behavior: smooth;
    scroll-snap-type:mandatory;
}
:target{
    scroll-margin-top: 20vh;
}

.ativo_scroll{
    position: fixed;
    background: rgba(0, 0, 2, 0.84);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.7px);
    -webkit-backdrop-filter: blur(12.7px);
    z-index: 1;
    top: 0;
}
.teste{
    animation: fade 15s ease infinite;
}
@keyframes fade {
    0%{
        transform: scale(1);
        opacity: 0;
        filter: grayscale(1);
        
    }
    80%{
        transform: scale(1);
        opacity: 1;
        transform: scale(1.1);

        /* transform: translateY(1%);
        transform: translatex(-10%); */
        filter: grayscale(0);
        
    }
    100%{
        transform: scale(1);
        opacity: 0;
        filter: grayscale(1);

    }
}
.bg_main{
    height: 100vh;
}
.nex_section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
}

.nex_section svg{
    width: auto;
    height: 80%;
    padding: 1rem;
    height: 100%;
    padding: .5rem;
    animation: sugest 1s infinite;
}
.nex_section svg path{
    stroke: var(--color-MAIN);
    stroke-width: 1px;
}

@keyframes sugest {
    0%{
        opacity: 1;
        transform: translatey(0px);
    }
    50%{
        transform: translateY(10px);
    }
    
    100%{
        opacity: 0;
        transform: translatey(0px);
    }
}
#secondary_section, #height_light{
    height: 80vh;
}
#secondary_section, #height_light{
    background: rgb(236, 238, 245);
}
#logo{
    /* position: absolute; */
    width: 50px;
    height: auto;
}
#logo img{
    width: 100%;
    height: auto;
}
#main_nav{

    width: 100%;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    column-gap: 2rem;
    flex-wrap: wrap;
}
.menu button{
    border: none;
    display: flex;
    padding: .1rem;
    cursor: pointer;
    align-items: center;
    border-radius: 4px;
    justify-content: center;
    transition: all 150ms linear;
    background-color: transparent;
}
.menu button i{
    text-transform: uppercase;
    border: 15px solid;
    border-image: url(../assets/images/Ativo\ 35PARA\ NEGOCIOS.png) 20 round;
    color: white;
    border-radius: 4px;
}

.menu .menu_item a {
    text-decoration: none;
    color: white;
    font-size: .7em;
    padding: 1rem;
    transform: 2ms ease-in;
    position: relative;
}
.menu button:hover{
    font-weight:lighter;
    color: white;
    background-color: var(--color-SECOND);
    transform: scale(1.1);
    animation: none;
}
.menu .menu_item a::before{
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 0px;
    height: 1px;
    background: rgb(207,171,23);
    background: linear-gradient(
        90deg,
        rgba(207,171,23,1) 0%,
        rgba(111,70,4,1) 15%,
        rgba(190,146,23,1) 33%,
        rgba(255,239,132,1) 50%,
        rgba(190,146,23,1) 68%,
        rgba(111,70,4,1) 85%,
        rgba(207,171,23,1) 100%);
    transition: all 500ms ease; 
}
.menu .menu_item:nth-child(4) a::before{
    left: 0;
}
.menu .menu_item a:hover:before {
    font-size: 1em;
    width: 100%;
}

#main_header
{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    justify-content: center;
    width: 100vw;
    height: var(--height-MAIN_HEADER);
    display: flex;
    top: 0;
    z-index: 2;
    position: fixed;
    transition: 500ms all linear;
}
#main_footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
}
.social{
    display: flex;
    justify-content: center;
    column-gap: 50px;
}
.social svg{
    width: auto;
}
.social_box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    transition: 500ms all linear;

}
.social_box::after{
    height: 0;
    content: '';
    border-radius: 4px;
    transition: 500ms all linear;
}
.social_box:hover::after{
    content: '';
    width: auto;
    height: 100%;
    display: flex;
    padding: .5rem;
    margin-top: .5rem;
    align-items: center;
    font-weight: bolder;
    justify-content: center;
}
.instagram:hover::after{
    content: 'Instagram';
    background: #d6249f;
    background: linear-gradient(80deg, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}
.facebook:hover::after{
    content:'Facebook';
    background: #3864c2;
}
.youtube:hover::after{
    content: 'Eduardo Geraldini';
    background: #c4302b;
}